In [1]:
import os
import pandas as pd
import openai

api_key = os.getenv('stock_market_project')
print(api_key)

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

In [2]:
# Initialize your API key
openai.api_key = api_key

In [3]:
# Read in the two datasets
nasdaq100 = pd.read_csv("nasdaq100.csv")
price_change = pd.read_csv("nasdaq100_price_change.csv")

# Add symbol into nasdaq100
nasdaq100 = nasdaq100.merge(price_change[["symbol", "ytd"]], on="symbol", how="inner")

# Preview the combined dataset
nasdaq100.head()

,symbol,name,headQuarter,dateFirstAdded,cik,founded,ytd
0,AAPL,Apple Inc.,"Cupertino, CA",NaN,320193,1976-04-01,42.99992
1,ABNB,Airbnb,"San Francisco, CA",NaN,1559720,2008-08-01,68.66902
2,ADBE,Adobe Inc.,"San Jose, CA",NaN,796343,1982-12-01,57.22723
3,ADI,Analog Devices,"Wilmington, MA",NaN,6281,1965-01-01,17.02062
4,ADP,ADP,"Roseland, NJ",NaN,8670,1949-01-01,5.53732

In [10]:
# Add a new column for Sector if it doesn't exist
if "Sector" not in nasdaq100.columns:
    nasdaq100["Sector"] = pd.NA
    
# Loop through the NASDAQ companies
for company in nasdaq100["symbol"]:
    # Dynamically create a prompt for each company
    dynamic_prompt = f'''Classify company {company} into one of the following sectors. Answer only with the sector name: Technology, Consumer Cyclical, Industrials, Utilities, Healthcare, Communication, Energy, Consumer Defensive, Real Estate, Financial.'''

    # Create a response from ChatGPT
    response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[{"role": "user", "content": dynamic_prompt}],
        temperature=0.0,
    )
    # Extract the sector from the response
    sector = response['choices'][0]['message']['content'].strip()
    
    # Add the sector to the corresponding company in the DataFrame
    nasdaq100.loc[nasdaq100["symbol"] == company, "Sector"] = sector

In [11]:
# Example of how to prepare company_data
company_data_list = nasdaq100.apply(lambda x: f"{x['symbol']} in the {x['Sector']} sector has a YTD performance of {x['ytd']}", axis=1).tolist()
company_data = " ".join(company_data_list)

In [12]:
# Create a prompt for stock recommendations including the dynamically created company_data
recommendation_prompt = f'''Based on the following Nasdaq-100 company data, recommend the three best sectors and three or more companies per sector for stock performance year to date (YTD):
{company_data}
'''

# Get the model response
response = openai.ChatCompletion.create(
    model="gpt-3.5-turbo",
    messages=[{"role": "user", "content": recommendation_prompt}],
    temperature=0.0,
)

# Extract and print the stock recommendations
stock_recommendations = response['choices'][0]['message']['content']
print(stock_recommendations)

Based on the YTD performance data provided, the three best sectors for stock performance are the Technology sector, the Healthcare sector, and the Consumer Cyclical sector.

Three companies in the Technology sector with strong YTD performance are:
1. NVDA (NVIDIA Corporation) with a YTD performance of 217.26511
2. AMD (Advanced Micro Devices, Inc.) with a YTD performance of 82.45861
3. GOOGL (Alphabet Inc. Class A) with a YTD performance of 47.58752

Three companies in the Healthcare sector with strong YTD performance are:
1. ALGN (Align Technology, Inc.) with a YTD performance of 70.17618
2. MRVL (Marvell Technology Group Ltd.) with a YTD performance of 76.57683
3. ISRG (Intuitive Surgical, Inc.) with a YTD performance of 16.41757

Three companies in the Consumer Cyclical sector with strong YTD performance are:
1. TSLA (Tesla, Inc.) with a YTD performance of 132.6087
2. MELI (MercadoLibre, Inc.) with a YTD performance of 64.48294
3. BKNG (Booking Holdings Inc.) with a YTD performance of 59.58046

Please note that stock performance can be influenced by various factors and it is important to conduct thorough research and analysis before making any investment decisions.